<fieldset>          
    <div class="col-md-12">

        <div class='box box-primary'>
            <div class='box-header'>
                <h3 class='box-title'><i class="fa fa-user"></i> &nbsp;Empleados &nbsp&nbsp<span data-toggle="tooltip" title="Empleados" id="empleados-count" class="badge bg-blue">{{ entity.empleados|length }}</span></h3>
                <div class="box-tools pull-right">
                    {%if 'empleado-abm-new' in app.user.perfil.permisos %}
                    <button type="button" id="empleado-add" class="btn btn-warning empleado-modal" data-toggle="tooltip" title="Nuevo Empleado" data-url="{{path('empleado_render_modal')}}" data-socio="{{ entity.id }}"> 
                        <i class="fa fa-user"></i>&nbsp;&nbsp;Agregar
                    </button>
                    {% endif %}
                </div>
            </div><!-- /.box-header -->    
            <div class='box-body pad'>

                <div class="box-body table-responsive">
                    <table id="table-empleados" class="table table-bordered table-hover ">
                        <thead>
                            <tr>                                
                                <th>Apellido y Nombre</th>
                                <th>DNI</th>                                
                                <th>CUIT/CUIL</th>                                
                                <th class="nosort">Teléfonos</th>                                                             
                                <th class="nosort" style="width: 120px"> <a class=" hidden btn btn-sm btn-default" href="{{ path('socio_print_listado') }}" target="_blank"><i class="fa fa-print"></i> &nbsp;Listado</a> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in entity.empleados %}
                                <tr class="data-{{ empleado.id }}" data-id="{{ empleado.id }}">
                                    <td>{{ empleado.nombreCompleto }}</td>
                                    <td>{{ empleado.nroDocumento }}</td>
                                    <td>{{ empleado.cuit }}</td>
                                    <td>{{ empleado.telefonos }}</td>
                                    <td class="link-actions">
                                        {% include "AdminBundle:Empleado:_partial_linkactions.html.twig" with {'id':empleado.id, 'vehiculos':empleado.vehiculos } %}
                                    </td>
                                </tr>
                                                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
</fieldset> 