<table class="table table-bordered table-detalles">
    <thead>
        <tr>
            <th width="2%">#</th>
            <th width="20%">Concepto</th>
            <th width="68%">Descripción</th>
            <th width="10%">Importe</th>
            {% if tipo=='I' %}
            <th width="10%">Pago</th>
            {% endif %} 
        </tr>
    </thead>
    <tbody>
       {% if tipo=='E' %}
        {% for det in entity.detalles %}
         <tr>
             <td>{{loop.index}}</td>
             <td>{{det.concepto}}</td>
             <td>{{det.descripcion}}</td>
             <td class="alignright">{{det.importe|number_format(2,'.',',')}}</td>
         </tr>
        {% endfor %} 
       {% elseif tipo == 'I' %}    
           {% if entity.pagos|length %}
                {% for pago in entity.pagos %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{pago.cajaMovimientoDetalle.deuda.deudaTxt}}</td>
                        <td>{{pago.descripcion}}</td>
                        <td class="right">{{pago.cajaMovimientoDetalle.importe|number_format(2,'.',',')}}</td>
                        <td class="right">{{pago.importe|number_format(2,'.',',')}}</td>
                    </tr>
                {% endfor %} 
          {% else %}
              {% for det in entity.detalles %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{det.concepto}}</td>
                    <td>{{det.descripcion}}</td>
                    <td class="alignright">{{det.importe|number_format(2,'.',',')}}</td>
                    <td class="alignright">{{det.importe|number_format(2,'.',',')}}</td>
                </tr>
               {% endfor %} 
          {% endif %}
       {% else %} 
           {% set imp= 0 %}
           {% for det in entity.detalles %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{det.deuda.concepto}}</td>
                <td>{{det.descripcion}}</td>
                <td class="alignright">
                    {% if det.concepto.tipo =='L' %}  
                        {% set imp = imp + det.importe %}
                    {% else %} -
                        {% set imp = imp - det.importe %}
                    {% endif %}
                    {{det.importe|number_format(2,'.',',')}} 
                </td>               
            </tr>           
        {% endfor %} 
            <tr>
                <th colspan="3" class="alignright">Pago</th>
                <th class="alignright">{{ imp|number_format(2,'.',',') }}</th>                       
            </tr>
       {% endif %} 
    </tbody>
</table>